.bodyBackground {
    background-image: url(fundo.png);
    background-position: center;
    background-size: cover;
}
body{
    cursor: pointer;
}
h1
{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
#myCanvas
{
    border-width: 10px;
    background-color: white;
    border-style: ridge;
}
button {
    background-color: #0a8a60;
    border: none;
    padding: 10px 42px;
    font-size: 16px;
}
input
{
    margin-right: 20px;
}